[submodule "Packages/srxdbackgrounds.common"]
	path = Packages/srxdbackgrounds.common
	url = https://github.com/SRXDModdingGroup/srxdbackgrounds.common.git
[submodule "Assets/srxdbackgrounds.inzo"]
	path = Assets/srxdbackgrounds.inzo
	url = https://github.com/DominicAglialoro/srxdbackgrounds.inzo.git
[submodule "Packages/srxdbackgrounds.usa"]
	path = Packages/srxdbackgrounds.usa
	url = https://github.com/DominicAglialoro/srxdbackgrounds.usa.git
